.button{
    background-color:var(--buy-btn);
    padding-inline:0.5rem;
    padding-block:0.25rem;
    color:var(--text-normal);
    font-size:var(--button-font);
    border:none;
}
.button:hover{
    cursor:pointer;
    background-color:var(--buy-btn-hover);
    color:var(--text-hover);
}