 <nav class="header">
    <div class="header__container">
        <div class="header__iconContainer">
            <img src="/assets/GZ-icon.png" alt="game-zone.png">
        </div>
        <div class="header__links">
            <ul class="header__ul">
                <li><a routerLink="/" class="link selected-link">Store</a></li>
                <li><a routerLink="/" class="link">Library</a></li>
                <li><a routerLink="/" class="link">Community</a></li>
                <li><a routerLink="/" class="link">Profile</a></li>
            </ul>
            <div class="header__loginWrap">
                <a routerLink="/login" class="link">Login</a>
            </div>
        </div>
    </div>
 </nav>