<section>
    <div class="login">
            <div class="gz-icon">
                <img src="assets/GZ-icon.png" alt="gz-icon.png">
            </div>
            <form class="login-form">
                <div class="login-inputField login-inputField--username">
                    <div class="label-wrap">
                        <img src="assets/user-icon.png" alt="user.png">
                        <label for="username-input">Username*</label>
                    </div>
                    <input name="username-input" id="username-input" type="text" pattern="[A-Za-z1-9]{1,20}" required placeholder="Username">
                </div>
                <div class="login-inputField login-inputField--password">
                    <div class="label-wrap">
                        <img src="assets/lock-icon.png" alt="user.png">
                        <label for="password-input">Password*</label>
                    </div>
                    <input name="password-input" id="password-input" type="password" pattern="[A-Za-z1-9]{1,20}" required placeholder="Password">
                </div>
                <div class="login-btn-wrap">
                    <button class="login-btn-send" type="submit">Login</button>
                </div>
            </form>
            <div class="login-alternative">
                <div>
                    <p>Or Sign Up with</p>
                </div>
                <div class="login-socialMedia">
                    <img src="assets/facebook.png" alt="facebook-icon.png">
                    <img src="assets/email-icon.png" alt="email-icon.png">
               </div>
          </div>
            <div class="login-registerWrap">
              <a routerLink="">Register</a>
           </div>
    </div>
</section>