.store__newRecommended{
    display:flex;
    padding-top:2rem;
    padding-bottom:1rem;
    flex-direction:column;
}
.store__coverImg{
    width:100%;
    height:45rem;
}
.store__coverImg > img{
    width:100%;
    height:100%;
}
.store__newRecommended-container{
    width:100%;
    background-color:var(--card-container);
}
.store__newRecommended-wrap{
    margin-inline:5rem;
}
.store__btnWrap{
display:flex;
justify-content:space-between;
align-items:center;
}
.store__newCards{
    overflow:hidden;
    width:100%;
    height:100%;
}
.button-switch{
    margin-inline:1rem;
}
li{
    text-decoration: none;
}
.cardRecc{
    display:flex;
    transition: 0.5s ease-in-out;
    color:var(--text-normal);
    min-height:30rem;
}
.cardRecc_li{
    display:flex;
    min-width:100%;
    min-height:100%;
}
.cardRecc__part1{
    width:calc(100%/1.5);
    background-color:var(--empty-image);
}
.cardRecc__part1 > img{
    width:100%;
    height:100%;
}
.cardRecc__part2{
    width:calc(100%/2);
    text-align:center;
    padding-block:2.25rem;
    background-color:var(--card-info);
    height:auto;
}
.cardRecc-tagNcost-wrap{
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    height:100%;
    padding-bottom:2rem;
    padding-inline:3rem;
}
.cardRecc__rating-wrap{
    display:flex;
    align-items:center;
}
.cardRecc__h3{
    font-size:var(--heading-font);
}
.cardRecc__author{
    font-weight:var(--author-weight);
    font-size:var(--author-font);
}
.cardRecc__date{
    text-align:left;
    font-weight: var(--date-weight);
    font-size:var(--date-font);
    margin-bottom:0.5rem;
}
.cardRecc__price{
    display:flex;
    align-items:center;
    gap:0.5rem;
    font-size:var(--price-font);
    font-weight: var(--price-weight);
    width:fit-content;
    min-width:5rem;
    background-color:var(--price-body-clr);
}
.cardRecc__price > p{
    padding-left:0.25rem;
}
.cardRecc__tags{
    display:flex;
    gap:0.2rem;
    width:100%;
    height:fit-content;
    margin-top:1rem;
    margin-bottom:0.5rem;
}
.cardOffer{
    display:flex;
    transition: 0.5s ease-in-out;
    color:var(--text-normal);
    min-height:30rem;
    gap:1rem;
}
.cardOffer_li{
    display:flex;
    min-height:100%;
    width:calc(100%/3);
}
.cardOffer__part{
    background-color:var(--empty-image);
    width:100%;
    height:100%;
    position:relative;
}
.cardOffer__part > img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position:left;
    opacity:0.85;
}
.cardOffer__saleWrap{
    position:absolute;
    display:flex;
    z-index:10;
    font-size:var(--sale-font);
    font-weight:var(--sale-weight);
    margin:0 auto;
    margin-bottom:1rem;
    bottom:0;
    gap:0.5rem;
}
.cardOffer__salePercent{
    color:var(--sale-tag-txt);
    background-color:var(--sale-tag-bg);
    width:fit-content;
    height:fit-content;
    padding-inline:1rem;
    padding-block:0.5rem;
    text-align:center;
}
.cardOffer__price{
    color:var(--text-normal);
    background-color:var(--price-sale-tag-bg);
    width:fit-content;
    height:fit-content;
    padding-inline:1rem;
    padding-block:0.5rem;
    text-align:center;
}