.store__newRecommended{
    display:flex;
    padding-top:2rem;
    padding-bottom:1rem;
    flex-direction:column;
}
.store__coverImg{
    width:100%;
    height:45rem;
}
.store__coverImg > img{
    width:100%;
    height:100%;
}
.store__newRecommended-container{
    width:100%;
    background-color:var(--card-container);
}
.store__newRecommended-wrap{
    margin-inline:5rem;
}
.store__btnWrap{
display:flex;
justify-content:space-between;
align-items:center;
}
.store__newCards{
    overflow:hidden;
    width:100%;
    height:100%;
}
.button-switch{
    margin-inline:1rem;
}
li{
    text-decoration: none;
}
.cardRecc{
    display:flex;
}
.cardRecc_li{
    display:flex;
    min-width:100%;
    min-height:100%;
}
.cardRecc__part1{
    width:calc(100%/2);
    background-color:var(--empty-image);
}
.cardRecc__part1 > img{
    width:100%;
    height:100%;
}
.cardRecc__part2{
    width:calc(100%/2);
    text-align:center;
    padding-block:2rem;
    background-color:var(--card-info);
    height:auto;
}
.cardRecc_tags{
    display:flex;
    gap:2rem;
}
.cardRecc-tagNcost-wrap{
    display:flex;
    flex-direction:column;
    justify-content:baseline;
    height:100%;
}