<section class="store">
<div class="store__coverImg">
    <img src="/assets/games_wallpaper.webp" alt="game_wallpaper.png">
</div>
<div class="store__newRecommended">
 <div class="store__newRecommended-H3 title">
    <h3>New & Recommended</h3>
 </div>
 <div class="store__newRecommended-container">
    <div class="store__newRecommended-wrap">
    <div class="store__btnWrap">
        <button class="store__arrow-previous button-switch"><img src="/assets/arrow-left.png" alt="arrow-previous.png"></button>
        <div class="store__newCards">
            <reccomdedCard></reccomdedCard>
            <!-- new and recommended cards go here -->
        </div>
        <button class="store__arrow-next button-switch"><img src="/assets/arrow-right.png" alt="arrow-previous.png"></button>
    </div>
</div>
 </div>
</div>
</section>