<section class="store">
<div class="store__coverImg">
    <img src="/assets/games_wallpaper.webp" alt="game_wallpaper.png">
</div>
<div class="store__newRecommended">
 <div class="store__newRecommended-H3 title">
    <h3>New & Recommended</h3>
 </div>
 <div class="store__newRecommended-container">
    <div class="store__newRecommended-wrap">
    <div class="store__btnWrap">
        <button class="store__arrow-previous button-switch" (click)="previous()"><img src="/assets/arrow-left.png" alt="arrow-previous.png"></button>
        <div class="store__newCards">
            <ul class="cardRecc">
                <li *ngFor="let game of games" class="cardRecc_li">
                <div class="cardRecc__part1"> 
                    <img loading="lazy" [src]="game.imageUrl" [alt]="game.name">
                </div>
                <div class="cardRecc__part2">
                    <div>
                        <h3>{{game.name}}</h3>
                    </div>
                    <div class="cardRecc-tagNcost-wrap">
                      <div class="cardRecc_tags">
                    </div>
                    <div>
                        {{game.price}}
                    </div>
                    <div>
                        {{game.stars}}
                    </div>
                    <div>
                        {{game.releaseDate}}
                    </div>
                  </div>
                 </div>
              </li>
            </ul>
        </div>
        <button class="store__arrow-next button-switch" (click)="next()"><img src="/assets/arrow-right.png" alt="arrow-previous.png"></button>
    </div>
</div>
 </div>
</div>
</section>